@import "tailwindcss";

:root {
    color: rgba(255, 255, 255, 0.87);
    font-size: larger;
}

body {
    background-color: #1d160f;
    color: #fff;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'><path d='M0 20 Q10 10 20 20 T40 20' stroke='rgba(255,255,255,0.05)' fill='none' stroke-width='2'/></svg>");
    background-size: 40px 40px;
    transform: rotate(45deg);
    z-index: -1;
}